# Ignore node_modules directory
node_modules/

# Ignore .env files containing sensitive information
.env

# Ignore log files
*.log

# Ignore build artifacts
dist/
build/

# Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Local Netlify folder
.netlify
